body{padding:20px;}

table td{
  width:100px;
  height:100px;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 2em;
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

table{
  margin-top:50px;
}

#playerName {
  display: block;
}

.form{max-width:240px;}

.hidden {
  display: none;
}